$round-border: 20px 50px 50px 20px;
$primary-color: #7464a1;

.btn{
    box-shadow: 0 0.1875rem 0.1875rem 0 rgb(0 0 0 / 10%)
}

.keyword-container{
    
    max-height: 25rem;
}

.keyword{
    border-radius: 100px;
    background-color: #67c29c6b;
    box-shadow: none;
    button{
        box-shadow: none !important;
    }

}


.btn-circle{
    border-radius: $round-border!important;
}

.no-borders{
    border: none;
    box-shadow: none;
    text-shadow: none;
}

.keyword-in-album{
    border-radius: 50px;
    background-color: #67c29c6b;
}